<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Funcionario</title>
		<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">	
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular-resource.js"></script>
		<script type="text/javascript" src = "../controllers/angular-local-storage.min.js"></script>
		<script src="../controllers/funcionarioCtrl.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/estilotabla.css">
	</head>
	<body>
		<div class="right">
			<button class="button" onclick="alert('¿Esta seguro que desea salir?')">Salir</button>
		</div>
		<div class="table-title">
			<h3>Estudiantes Con Prestamos Vencidos</h3>
		</div>		
		<table class="table-fill">
			<thead>
				<tr>
				<th class="text-left">Estudiante</th>
				<th class="text-left">Seleccionar</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<td class="text-left">
						lalala
					</td>
					<td class="text-left">
						<input name="id05" type="checkbox" id="id05"/>
					</td>
				</tr>
			</tbody>
		</table>  
		<div class="bottomright">
			<button class="button" onclick="alert('¿Esta seguro de generar el prestamo?')">Enviar Alerta</button>
		</div>
	</body>
</html>