<!DOCTYPE html>
<html lang="en" ng-app="appAlmacenista">
  <head>
    <meta charset="UTF-8">
    <title>PrestamoAlmacenista</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	  <script type="text/javascript" src = "../controllers/angular-local-storage.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/stylee.css">
    <script type="text/javascript" src="../controllers/almacenistaController.js"></script>
  </head>
  <body ng-controller="almacenistaController" ng-init="mostrarSolicitudes(); mostrarPrestamos();">
    <ul class="accordion">
    <h2>Solicitudes de Prestamos</h2>
    <li class="accordion-item" ng-repeat="solicitud in solicitudes">
      <input id="{{solicitud._id}}" class="hide" type="checkbox" autocomplete="off">
      <label for="{{solicitud._id}}"class="accordion-label" ng-Click="mostrarElementos(solicitud._id)">{{solicitud.idUsuario}}</label>
      <ul class="accordion-child">
        <li ng-repeat="elemento in elementos">
          <label>
            <input 
							  type="checkbox" 							
			    			name="elementoSeleccionado[]"
			    			value="{{elemento.nombre}}"	
			    			ng-checked="elementosSeleccionados.indexOf(elemento.nombre) > -1"		    			
			    			ng-click="toggleSeleccion(elemento.nombre)"/> {{elemento.nombre}}
          </label>
        </li>
        <button class="button" onClick="aprobarSolicitud()">Aprobar</button>
     </ul>
    </li>
    </ul>
    <br>
    <br>
    <br>
    <ul class="accordion">
      <h2>Prestamos en Progreso</h2>
      <li class="accordion-item" ng-repeat="prestamoEnProgreso in prestamosEnProgreso">
        <input id="{{prestamoEnProgreso._id}}" class="hide" type="checkbox" autocomplete="off">
        <label for="{{prestamoEnProgreso._id}}"class="accordion-label" ng-Click="mostrarElementos(prestamoEnProgreso._id)">{{prestamoEnProgreso.idUsuario}}</label>
        <ul class="accordion-child">
          <li ng-repeat="elemento in elementos">
            <label>
              <input 
  							  type="checkbox" 							
  			    			name="elementoSeleccionado[]"
  			    			value="{{elemento.nombre}}"	
  			    			ng-checked="elementosSeleccionados.indexOf(elemento.nombre) > -1"		    			
  			    			ng-click="toggleSeleccion(elemento.nombre)"/> {{elemento.nombre}}
            </label>
          </li>
          <button class="button" onClick="terminarPrestamo()">Aprobar</button>
       </ul>
      </li>
      </ul>
  <div class="right"><button class="button" onclick="alert('¿Esta seguro que desea salir?')">Salir</button>
  </div>
  </body>
</html>