<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Funcionario</title>
		<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">	
		<link rel="stylesheet" type="text/css" href="estilotabla.css">
	</head>
	<body>
		<div class="table-title">
			<h3>Estudiantes Con Prestamos Vencidos</h3>
		</div>		
		<table class="table-fill">
			<thead>
				<tr>
				<th class="text-left">Seleccionar</th>
				<th class="text-left">Nombre Del EStudiante</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<td class="text-left">
						<input name="id01" type="checkbox" id="id01"/>
					</td>
					<td class="text-left"></td>
				</tr>
				<tr>
					<td class="text-left">
						<input name="id02" type="checkbox" id="id02"/>
					</td>
					<td class="text-left"></td>
				</tr>
				<tr>
					<td class="text-left">
						<input name="id03" type="checkbox" id="id03"/></td>
					<td class="text-left"></td>
				</tr>
				<tr>
					<td class="text-left">
						<input name="id04" type="checkbox" id="id04"/></td>
					<td class="text-left"></td>
				</tr>
				<tr>
					<td class="text-left">
						<input name="id05" type="checkbox" id="id05"/></td>
					<td class="text-left"></td>
				<div class="right">
					<button class="button" onclick="alert('¿Esta seguro que desea salir?')">Salir</button>
				</div>
				<div class="bottomright">
					<button class="button" onclick="alert('¿Esta seguro de generar el prestamo?')">Generar Sanción</button>
				 </div>
				</tr>
			</tbody>
		</table>  
	</body>
</html>